In [1]:
import pandas as pd
import json
df = pd.read_csv('../data/data_xy.csv', index_col=0)

In [3]:
required_columns = [
    '상권_코드_명', '서비스_업종_코드_명', '자치구_코드_명', '행정동_코드_명', '경도', '위도',
    '여성_매출_금액', '남성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액',
    '연령대_30_매출_금액', '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '기준_년분기_코드'
]

filtered_data = df[required_columns]

In [5]:


def convert_to_json(df):
    grouped_data = df.groupby(['상권_코드_명', '서비스_업종_코드_명', '기준_년분기_코드'])
    json_output = []

    for (market, service, quarter), group in grouped_data:
        sales_data = {
            "여성_매출_금액": group['여성_매출_금액'].sum(),
            "남성_매출_금액": group['남성_매출_금액'].sum(),
            "연령대_10_매출_금액": group['연령대_10_매출_금액'].sum(),
            "연령대_20_매출_금액": group['연령대_20_매출_금액'].sum(),
            "연령대_30_매출_금액": group['연령대_30_매출_금액'].sum(),
            "연령대_40_매출_금액": group['연령대_40_매출_금액'].sum(),
            "연령대_50_매출_금액": group['연령대_50_매출_금액'].sum(),
            "연령대_60_이상_매출_금액": group['연령대_60_이상_매출_금액'].sum(),
        }
        entry = {
            "상권_코드_명": market,
            "서비스_업종_코드_명": service,
            "기준_년분기_코드" : quarter,
            "자치구_코드_명": group['자치구_코드_명'].iloc[0],
            "행정동_코드_명": group['행정동_코드_명'].iloc[0],
            "경도": group['경도'].iloc[0],
            "위도": group['위도'].iloc[0],
            "매출액": sales_data
        }
        json_output.append(entry)
    
    return json_output


json_data = convert_to_json(filtered_data)

In [6]:
json_data[0]

{'상권_코드_명': '4.19민주묘지역 2번',
 '서비스_업종_코드_명': '미용실',
 '기준_년분기_코드': 20221,
 '자치구_코드_명': '강북구',
 '행정동_코드_명': '우이동',
 '경도': 127.01260072039511,
 '위도': 37.64943719463744,
 '매출액': {'여성_매출_금액': 14866246.0,
  '남성_매출_금액': 22968431.0,
  '연령대_10_매출_금액': 349684,
  '연령대_20_매출_금액': 5635745,
  '연령대_30_매출_금액': 9080136.0,
  '연령대_40_매출_금액': 12744830.0,
  '연령대_50_매출_금액': 6807187.0,
  '연령대_60_이상_매출_금액': 3217095.0}}

In [7]:
len(json_data)

83573

In [6]:
import numpy as np

# 데이터 타입을 JSON 직렬화 가능한 형태로 변환하는 함수
def convert_types(obj):
    if isinstance(obj, np.integer):
        return int(obj)
    elif isinstance(obj, np.floating):
        return float(obj)
    elif isinstance(obj, np.ndarray):
        return obj.tolist()
    else:
        return obj

In [9]:
json_file_path = '../data/sales_data.json'
with open(json_file_path, 'w') as f:
    json.dump(json_data, f, ensure_ascii=False, indent=2, default=convert_types)

# 형식 맞추기

In [1]:
import json

In [2]:
file_path = '../data/sales_data.json'
with open(file_path, 'r', encoding='utf-8') as file:
    data = json.load(file)

In [3]:
data  = { 'data' : data}

In [7]:
json_file_path = '../data/data.json'
with open(json_file_path, 'w') as f:
    json.dump(data, f, ensure_ascii=False, indent=2, default=convert_types)